body{margin: 0; font-family: sans-serif;}

#login-signup button{
    width: 25%;
    max-width: 100px;
}
#login-signup{
    margin: 0 auto;
    text-align: center;
}
#login-form, #signup-form{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}
#login-form{
    display: block;
}
#signup-form{
    display: none;
}
#alert{
    text-align: center;
    color: red;
}
nav{
    margin-bottom: 20px;
}


table, td, tr{
    text-align: center;
}
a{
    text-decoration: none;
}
form, table{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.form-group{
    margin-top: 20px;
}
#profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
#nav-menu{
    text-decoration: none;
    color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px; 
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    float: right;
    width: 100%;
    font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}



/*This part is for Profile page only*/

#profile-picture{
    display: block;
    margin: 0 auto;
    width: 40%;
    border-radius: 50%;
}
#submit, #cancel{
    display: none;
}
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 40%;
    height: 40%;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;

}
#profile-pic-box2{
    display: none;
}
#logout{
    float: right;
    margin: auto;
}
#password2div{
    display: none;
}
.fa{
  font-size:16px;
  margin-left:8px;
}
#pass-status{
    position: absolute;
    right: 10px;
    top: 42px;
}
#password, #password2{
    padding-right: 30px;
}

/* Profile page part ends here */